# Chapter8 객체 참조, 가변성, 재활용

## 8.1 변수는 상자가 아니다

In [11]:
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [14]:
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))
        
x = Gizmo()

Gizmo id: 4360192744

In [17]:
y = Gizmo() * 10

Gizmo id: 4360193192

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [19]:
print(dir())

['Gizmo', 'In', 'Out', '_', '_1', '_11', '_18', '_2', '_3', '_4', '_5', '_6', '_7', '_8', '_9', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a', 'b', 'exit', 'get_ipython', 'quit', 'x']

## 8.2 정체성, 동질성, 별명

In [22]:
charles = {'name': 'Charles L. Dodson', 'born': 1832}
lewis = charles
lewis is charles

True

In [23]:
id(charles), id(lewis)

(4360075664, 4360075664)

In [24]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodson', 'born': 1832, 'balance': 950}

In [25]:
alex = {'name': 'Charles L. Dodson', 'born': 1832, 'balance': 950}
alex == charles

True

In [27]:
alex is not charles

True

In [28]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2

True

In [29]:
t1 is t2

False

In [30]:
id(t1[-1])

4360019400

In [32]:
t1[-1].append(99)
t1

(1, 2, [30, 40, 99, 99])

In [33]:
id(t1[-1])

4360019400

In [34]:
t1 == t2

False

In [37]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [38]:
l2 == l1

True

In [39]:
l2 is l1

False

In [42]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [43]:
l2[1] += [33, 22]
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [45]:
class Bus:
    
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)
    
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)

In [46]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(4360616872, 4360616984, 4360617152)

In [47]:
bus1.drop('Bill')
bus2.passengers

['Alice', 'Claire', 'David']

In [48]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(4360582280, 4360582280, 4360102088)

In [49]:
bus3.passengers

['Alice', 'Bill', 'Claire', 'David']

In [54]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [55]:
from copy import deepcopy
c = deepcopy(a)
c

[10, 20, [[...], 30]]

## 8.4 참조로서의 함수 매개변수

In [57]:
def f(a, b):
    a += b
    return a

x = 1
y = 2
f(x, y)

3

In [58]:
x, y

(1, 2)

In [59]:
a = [1, 2]
b = [3, 4]
f(a, b)

[1, 2, 3, 4]

In [60]:
a, b

([1, 2, 3, 4], [3, 4])

In [61]:
t = (10, 20)
u = (30, 40)
f(t, u)

(10, 20, 30, 40)

In [62]:
t, u

((10, 20), (30, 40))

In [67]:
class HauntedBus:
    
    def __init__(self, passengers=[]):
        self.passengers = passengers
    
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)
        
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [68]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [69]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [70]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [71]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [72]:
bus2.passengers is bus3.passengers

True

In [73]:
bus1.passengers

['Bill', 'Charlie']

In [76]:
print(dir(HauntedBus.__init__))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [77]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [84]:
class TwilightBus:
      
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers
    
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)
        
        
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

## 8.5 del과 가비지 컬렉션

In [87]:
import weakref

s1 = {1, 2, 3}
s2 = s1

def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [88]:
del(s1)
ender.alive

True

In [89]:
del(s2)

Gone with the wind...

In [90]:
ender.alive

False

In [91]:
import weakref
a_set = {0, 1}
wref = weakref.ref(a_set)
wref

In [92]:
wref()

{0, 1}

In [94]:
a_set = {2, 3, 4}
wref()

{0, 1}

In [106]:
wref() is None

False

In [107]:
wref() is None

False

In [121]:
class Cheese:
    
    def __init__(self, kind):
        self.kind = kind
        
    def __repr__(self):
        return 'Cheese(%r)' % self.kind
    
import weakref
stock = weakref.WeakValueDictionary()
catalog = [Cheese('Red Leicester'), Cheese('Tilist'), Cheese('Brie'), Cheese('Parmesan')]

for cheese in catalog:
    stock[cheese.kind] = cheese
    
sorted(stock.keys())

['Brie', 'Parmesan', 'Red Leicester', 'Tilist']

In [122]:
del catalog
sorted(stock.keys())

['Parmesan']

In [123]:
del cheese
sorted(stock.keys())

[]

In [124]:
weakref.ref([1,2])

TypeError: cannot create weak reference to 'list' object

In [129]:
class Mylist(list):
    pass
a_list = Mylist(range(10))
wref_to_a_list = weakref.ref(a_list)

## 8.7 파이썬의 큭이한 불변형 처리법

In [130]:
t1 = (1, 2, 3)
t2 = tuple(t1)
t2 is t1

True

In [131]:
t3 = t1[:]
t3 is t1

True

In [135]:
t1 = (1, 2, 3)
t3 = (1, 2, 3)
t3 is t1

False

In [136]:
s1 = 'ABC'
s2 = 'ABC'
s2 is s1

True